.logo--minusculo{
	width: 2rem;
}

.logo--carrinho{
	width: 5rem;
	margin-top: 1rem;
}

.logo--perfil{
	width: 3.5rem;
}

.inputbox--cupom{
	position: fixed;
	top: 14%;
	padding: 2rem;
	width: 400px;
	box-shadow: 0 4px 8px var(--color-shadow);
	border-radius: 10rem;
	z-index: 2;
}

.btn--cupom{
	position: relative;
	padding: 1rem;
	color: white;
  	font-weight: bold;
	height: auto;
	width: 40%;
	border-radius: 10rem;
	text-align: center;
	right: 0;
	background: linear-gradient(180deg, var(--color-primary) 48%, var(--color-secondary) 100%);
	cursor: pointer;
}

.carrinho--itemcontainer{
	display: flex;
	flex-direction: column;
	margin-top: 20vh;
	position: absolute;
	left: 0;
	margin-left: 10vw;
}

.carrinho--item{
	position: relative;
	margin-bottom: 5vh;
	min-width: 38rem;
	padding: 2rem;
	padding-bottom: 4.5rem;
	background-color: var(--color-input-bg);
	border-radius: var(--border-radius);
	box-shadow: 0 4px 8px var(--color-shadow);
	font-size: 1rem;
	color: var(--color-text);
	display: flex;
	text-align: center;
	align-items: center;
}

.carrinho--imagem{
	border-radius: var(--border-radius);
	height: 10rem;
	width: 15rem;
	display: flex;
	left: 0;
	object-fit: cover;
	margin-right: 4rem;
}

.carrinho--opcoes{
	position: absolute;
	display: flex;
	flex-direction: row;
	bottom: 0;
	margin-bottom: 1rem;
}

.carrinho--delete{
	right: 0;
	bottom: 0;
	position: absolute;
	margin-right: 5%;
	margin-bottom: 1rem;
}

.carrinho--minus{
	margin-left: 2rem;
	margin-right: 2rem;
}

.carrinho--numeroitens{
	font-size: 2rem;
	margin-top: .5rem;
}

.carrinho--plus{
	margin-left: 2rem;
	margin-right: 2rem;
}


.carrinho--iconbg{
	height: 3rem;
	width: 3rem;
	border-radius: 100%;
	box-shadow: 0 4px 8px var(--color-shadow);
	background-color: #f5f5f5;
	cursor: pointer;
	padding-top: .75rem;
}

.carrinho--icon{
	height: 1.5rem;
	width: 1.5rem;
	margin: auto;
	font-size: 135%;
	font-weight: bolder;
}

.item--nome{
	font-size: 2rem;
	margin-bottom: .5rem;
}

.item--descricao{
	font-size: 1rem;
	color: var(--color-text-light);
	margin-bottom: 1rem;
}

.item--preco{
	font-size: 2.5rem;
}

.infopagamento{
	position: fixed;
	min-width: 30rem;
	right: 0;
	margin-right: 10vw;
	padding: 2rem;
	background-color: #f5f5f5;
	border-radius: var(--border-radius);
	box-shadow: 0 4px 8px var(--color-shadow);
	font-size: 1rem;
	color: var(--color-text);
	display: flex;
	flex-direction: column;
}

.item--pedido{
	display: flex;
	flex-direction: row;
}

.left{
	left: 0;
	text-align: left;
	align-items: left;
}

.right{
	right: 0;
	position: absolute;
	text-align: right;
	align-items: right;
	margin-right: 2rem;
}

.pedido--endereco{
	color: #a991e7;
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	background-image: linear-gradient(to top, var(--color-background), #f5f5f5);
}

.endereco--icon{
	height: 60%;
	margin-right: 1.5rem;
}

.btn--alterarendereco{
	position: absolute;
	right: 0;
	margin-right: 2rem;
	background-color: #a991e7;
	color: white;
	border-radius: 10rem;
	text-align: center;
	cursor: pointer;
	padding: .75rem 1rem .75rem 1rem;
	font-weight: bold;
}

.btn--finalizarpedido{
	text-align: center;
	padding: 1.5rem;
}

.nomargin{
	margin-top: .5rem;
	margin-bottom: .5rem;
}

/*TODO: MEDIA QUERIES*/